@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
 
}
body{
    background-color: whitesmoke;
}
.ramilo{
    background-color: rgba(37, 191, 191, 0.799);
    font-size: 30px;
    padding: 30px;
    color: white;



}
.imgtest{
    margin-top: -52%;
    width: 240px;
    height: 240px;
    left: 12%;
   position: absolute;
   filter: drop-shadow(5px 5px 10px white);
 
   
  
}
.demo{
    margin-left: 250px;
    margin-top: -39%;
    margin-bottom: 10px;
    color: rgba(37, 191, 191, 0.799);
    font-style: italic;
    font-size: xx-large;


}
.demo2{
    display: flex;
}
.menu{
    background-color: rgba(37, 191, 191, 0.799);
    width: 10%;
    height: 110vh;
    color: white;
    transform: translateX(0);
    filter: blur(0px);
    opacity: 100;
    transition: 1s;
   
}

.inside-menu{
    margin-left: 5%;
    margin: 0 15px;
}

.menu a{
    text-decoration: none;
    color: rgba(37, 191, 191, 0.799);
    display: flex;
    transition: 0.5s;
    color:white;
    font-size: larger;
    font-style: normal;
    margin: 10px;
}
.menu a:hover{
    color: rgba(37, 191, 191, 0.799);
    transition: 0.5s;
    border: solid white 2px;
   background-color: white;
   margin:12px;
}

#hide{
    display: none;
    width: 0%;

}
.nathan{
    width: 0%;

}

